.l-lottery-numbers-container {
    display: inline-block;
    font-size: 14px;
    color: #012406;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.l-lottery-numbers-container .l-lottery-number {
    display: inline-block;
    font-size: 17px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #d9deda;
    border-radius: 50%;
    margin-right: 7px;
    margin-bottom: 7px;
}

.l-lottery-numbers-container.euroJackpot .l-lottery-number.extra {
    border: 1px solid #ca7f26;
}

.nums {
    font-size: 17px;
    line-height: 26px;
    font-weight: 200;
    color: #012406;
    text-transform: none;
    padding: 14px 0;
}

.main-header {
    font-size: 21px;
    line-height: 24px;
    font-weight: 900;
    color: #012406;
    text-transform: uppercase;
}

.content {
    margin-top: 25px;
}
.td-item {
    font-size: 12px;
}


 .l-seo-pod {
    border: 1px solid #d9deda;
    border-left: none;
    -webkit-box-shadow: -7px 0 0 0 #69a507;
    box-shadow: -7px 0 0 0 #69a507;
    margin-bottom: 14px;
    margin-left: 7px;
    padding: 14px;
}

 .l-resultsTable {
     border-left: 1px solid #dee2e6;
     border-right: 1px solid #dee2e6;
     border-bottom: 1px solid #dee2e6;
 }
table.fixed {
    table-layout: fixed;
}
table.styled {
    width: 100%;
    border-collapse: collapse;
}
table.styled td, table.styled th {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #999;
    box-sizing: border-box;
    height: 35px;
    padding: 6px;
}
table.styled tr {
    border-bottom: 1px solid #f2f2f2;
}
table.styled td:first-of-type, table.styled th:first-of-type {
    padding-left: 0;
}
table.styled td {
    color: #535353;
}
table.styled td .entry, table.styled th .entry {
    display: inline-block;
    padding-right: 12px;
    white-space: nowrap;
}
table.styled td.basic, table.styled td .basic {
    color: #999;
}
table.fixed td .entry, table.fixed th .entry {
    white-space: normal;
}
table.styled td .rankSpan {
    display: block;
}

table.styled td .entry:last-of-type, table.styled th .entry:last-of-type {
    padding-right: 0;
}

.td-div {
    display: inline-block;
}

table.styled td.number, table.styled th.number {
    text-align: right;
}

table.styled td.number .entry {
    padding-right: 0;
    padding-left: 12px;
}
.td-item td {
    font-size: 12px;
    vertical-align: middle;
}

@media (min-width: 320px) {
    .l-results-body-tables {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
    .l-seo-pod {
        padding: 21px;
        margin-left: 28px;
    }

    .td-item {
        font-size: 14px;
    }
    .td-div {
        display: block;
    }
}